<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee View</title>
</head>
<body>
    <form action="/submit" method="POST">
        <button type="submit" name="action" value="messages">Messages</button>
        <button type="submit" name="action" value="applications">Applications</button>
        <button type="submit" name="action" value="new_employees">New Employees</button>
        <button type="submit" name="action" value="new_employees">New Employees</button>
    </form>
</body>
</html>

<!-- ctrl/cmd k + ctrl/cmd f to format when you add css and stuff -->