<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student View</title>
    <style>

    </style>
</head>
<body>
    <div>
        <h1>Profile Survey</h1>
        <p>Preferred room type</p>
        <input placeholder="Preferred room type" />
        <p>Cleanliness</p>
        <input placeholder="Cleanliness" />
        <p>Preferred roommate gender</p>
        <input placeholder="roommate gender" />
    </div>
    <button>Submit</button>
</body>
</html>