<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student View</title>
</head>
<body>
    <div>
        <div id="navbar">
            <p id="welcome">Welcome {{ session.student_name }}</p> <!-- Display student name -->
            <button id="form" onclick="window.location.href='/studentView/form'">Housing Form</button>
            <button id="logout" onclick="window.location.href='/logout'">Logout</button> <!-- Logout button -->
        </div>
        <div id="main">
            <h1>Your housing status:</h1>
            <p>{{ housing_status }}</p>

            <!-- If the student is approved, show the "Select Room" button -->
            {% if housing_status == 'You have submitted your housing form and it has been approved.' %}
                <a href="{{ url_for('select_room') }}" class="btn btn-info">Select Room</a>
            {% endif %}

            <!-- Button to go to the message page -->
            <br><br>
            <a href="{{ url_for('contact') }}" class="btn btn-primary">Go to Messages</a>
        </div>
    </div>
</body>
</html>
